name: Docker Image CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: docker build -t anisha4123/q-docker-hub-image .

      - name: Tag Docker image
        run: docker tag anisha4123/q-docker-hub-image anisha4123/q-docker-hub-image:23f2005050

      - name: Push Docker image
        run: docker push anisha4123/q-docker-hub-image:23f2005050
